.daily-deals-container {
  position: relative;
  width: 100%;
}

.image-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: auto;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.sales {
  flex: 1;
  margin-left: -12%;
}

.sales h2 {
  font-size: 24px;
  margin: 0;
   white-space: nowrap; /* Add this line to make the text in one line */
  overflow: hidden; /* Optional: Hide any overflow */
  text-overflow: ellipsis;
}

.timer {
  display: flex;
  align-items: center;
  margin-left: -10%;
}

.timer h2 {
  font-size: 18px;
  margin: 0;
}

.timer span {
  font-size: 16px;
  margin-left: 5px;
  white-space: nowrap;
  font-size: 24px; 
}

.vertical-line {
  width: 1px;
  height: 50px;
  background-color: black;
  margin: 0 20px;
}
